@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --icon-stroke-color: #27272a; /* zinc-900 浅色模式下的颜色 */
  transition: --icon-stroke-color 500ms ease;
}

:root.dark {
  --icon-stroke-color: #d4d4d8; /* zinc-300 深色模式下的颜色 */
}

.dark {
  color-scheme: dark;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  /* 指定字体的平滑方式。在这个例子中，它设置为 "antialiased"，表示使用抗锯齿技术来平滑字体边缘，使其更加清晰。 */
  -webkit-font-smoothing: antialiased;
  /* 指定文本渲染方式。在这个例子中，它设置为 "optimizeLegibility"，表示优化文本渲染以提高可读性，例如自动调整字距和字形等。 */
  text-rendering: optimizeLegibility;
  /* 指定文本溢出时的换行方式。在这个例子中，它设置为 "break-word"，表示在单词边界处换行，以防止文本溢出容器。 */
  overflow-wrap: break-word;
}

html {
  padding-right: 0 !important;
  overflow-y: scroll !important;
}