---
import BaseHead from '@components/BaseHead.astro'
import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from 'src/config'
import Body from '@components/Body.astro'
import Content from '@components/Content.astro'
import Masthead from '@components/Masthead.astro'
import { IoChevronForward } from 'react-icons/io5'
---

<!DOCTYPE>
<html>
<head>
  <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
</head>
<Body>
<Header titile={SITE_TITLE} />
<main>
  <Masthead type='404' />
  <Content>
    <section>
      <h1 class='text-3xl text-center font-mplus mt-12 mb-8'>
        糟糕 ☹️ 未找到该页面
      </h1>
      <div class='text-center py-4'>
        <a
          class='inline-flex items-center gap-1 underline underline-offset-2 decoration-orange-500'
          href='/'
        >
          回到首页
          <IoChevronForward />
        </a>
      </div>
    </section>
  </Content>
</main>
<Footer />
</Body>
</html>
