---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../config'
import Body from '../components/Body.astro'
import Content from '../components/Content.astro'
import { IoArrowForward } from 'react-icons/io5'
import { HOMEPAGE_URL } from '../config'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header title={SITE_TITLE} />
    <!--
			pt-[56px] 表示 padding-top: 56px;
		 -->
    <main class="pt-[56px]">
      <h1 class="font-mplus text-center">关于我</h1>
      <Content>
        <section>
          <!-- 
            mb-8 表示 margin-bottom: 2rem;
            indent-4 表示 text-indent: 1rem;
           -->
          <p class="mb-8 indent-4">
            我是一个Java开发工程师，目前在一家互联网公司从事后端开发的工作。但我并没有拘泥于Java一种语言，
            我努力在各个方向上都有所涉猎，希望可以通过扩展知识面提升自己的综合能力,实现独立创造属于自己产品的梦想。
            我现在主要的开发工具为MacBook Air
            M1，主要使用Jetbrains的IDE进行开发，喜欢Vim，喜欢Linux。
            目前计划并希望自己能在开源上有所贡献，目前几乎为0，所以想能有所突破，希望自己能坚持下去。
          </p>
		  <!-- 
			inline-flex: 行内元素，但是可以设置宽高
			items-center: 交叉轴居中
			gap-1: 间距为1rem
			indent-1: 缩进1rem
			inline: 行内元素
		   -->
          <a
            class="inline-flex items-center gap-1 indent-1 text-orange-500"
            hidden={HOMEPAGE_URL}
            >了解更多关于我 <IoArrowForward className="inline" /></a
          >
        </section>
      </Content>
    </main>
    <Footer />
  </Body>
</html>
