<!-- 
  bg-orange-50：                  设置元素的背景色为浅橙色。
  dark:bg-zinc-900：              在深色模式下，设置元素的背景色为暗灰色。
  text-zinc-900：                 设置元素内部文本的颜色为深灰色。
  dark:text-zinc-300：            在深色模式下，设置元素内部文本的颜色为浅灰色。
  break-words：                   设置元素内部的长单词和 URL 自动换行，避免超出容器。
  leading-6：                     设置元素内部文本的行高为 1.5 倍行高。
  transition-colors duration-500：定义元素的颜色转换动画，表示颜色的变化过渡将持续 500 毫秒。
 -->
<body
  class="bg-orange-50 dark:bg-zinc-900 text-zinc-900 dark:text-zinc-300 break-words leading-6 transition-colors duration-500"
>
  <slot/>
</body>
