---
import HeaderLink from './HeaderLink.astro'
import { SITE_TITLE } from '../config'
import ThemeToggle from './ThemeToggleButton'
// import DropdownMenu from './DropdownMenu'
import {
  // IoBook,
  IoHome,
  IoLogoGithub,
  IoLogoTwitter,
  IoPersonCircleSharp
} from 'react-icons/io5'
import { BsFillChatRightHeartFill } from 'react-icons/bs'
import type { MarkdownInstance } from 'astro'
import type { Frontmatter } from '../types'
import OnlineCounter from './OnlineCounter.tsx'

const allPosts = Object.values(import.meta
  .glob<MarkdownInstance<Frontmatter>>('../pages/posts/*.md', { eager: true }))
const allTags = new Set<string>()
allPosts.map(post => {
  post.frontmatter.tags &&
  post.frontmatter.tags.map((tag: string) => allTags.add(tag))
})
---

<style>
  @keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translateX(-1px);
    }
    20%,
    40%,
    60%,
    80% {
      transform: translateX(1px);
    }
  }

  .title-h2:hover .icon-shake {
    animation: shake 0.5s linear;
  }
</style>

<header
  class='fixed w-full p-2 z-20 bg-linear-to-b from-orange-50/70 to-orange-50/30
  dark:from-zinc-900/70 dark:to-zinc-900/30 backdrop-blur-md'>
  <div class='mx-auto max-w-3xl'>
    <nav class='flex items-center justify-between text-base'>
      <a href='/' class='group'>
        <h2
          class='font-semibold tracking-tighter font-mplus text-lg flex items-center title-h2'
        >
          <BsFillChatRightHeartFill className='icon-shake' />
          <span class='mr-1'></span>
          {SITE_TITLE}
          <span class='ml-2'>
            <OnlineCounter client:load />
          </span>
        </h2>
      </a>
      <div class='items-center gap-6 hidden md:flex'>
        <HeaderLink href='/'>
          <IoHome />
          首页
        </HeaderLink>
        <!--<HeaderLink href='/blog'>-->
        <!--  <IoBook />-->
        <!--  文章-->
        <!--</HeaderLink>-->
        <HeaderLink href='/about'>
          <IoPersonCircleSharp />
          关于我
        </HeaderLink>
        <HeaderLink href='https://twitter.com/AhogeKnight' target='_blank'>
          <IoLogoTwitter />
          Twitter
        </HeaderLink>
        <HeaderLink href='https://github.com/AhogeK' target='_blank'>
          <IoLogoGithub />
          Github
        </HeaderLink>
      </div>
      <div class='flex items-center gap-3'>
        <ThemeToggle client:load />
        <!--<DropdownMenu client:load tags={Array.from(allTags)} />-->
      </div>
    </nav>
  </div>
</header>
