---
import Video from './Video'
import AnimeTitle from './AnimeTitle'

const { type } = Astro.props
const shouldShow404Masthead = Boolean(type === '404')
---
<section class='relative mb-6 min-h-screen flex justify-center items-center'>
  <Video client:load />

  <div class='z-10 text-center px-8 drop-shadow-lg shadow-black'>
    {shouldShow404Masthead ?
      <AnimeTitle client:load />
      :
      <div class='uppercase text-sm mb-4'>Welcome to</div>
      <div class='text-4xl font-mplus font-medium'>
        AhogeK 的 <span
        class='bg-clip-text text-transparent bg-gradient-to-r from-orange-400 to-rose-500'> 个人博客</span>
      </div>
    }
  </div>

  <!-- 滚动指示器 -->
  {!shouldShow404Masthead &&
    <div class='absolute bottom-10 left-0 right-0 flex justify-center animate-bounce'>
      <button class='text-white' aria-label='滚动查看更多'>
        <svg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='currentColor'>
          <path stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M19 14l-7 7m0 0l-7-7m7 7V3' />
        </svg>
      </button>
    </div>
  }
</section>